body {
    background-color: beige;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    gap: 20px;
    max-width: 900px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    min-width: 150px;
    flex: 0;
}

.optionsSize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.grid_container {
    display: grid;
    width: 500px;
    height: 500px;
}

/* :root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid; DONE
  grid-gap: 1em; DONE
  grid-template-rows: repeat(var(--grid-rows), 1fr); DONE
  grid-template-columns: repeat(var(--grid-cols), 1fr); DONE
}

.grid-item {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
} */